<div id="<%= dom_id listing %>">
  <p>
    <strong>Perfume:</strong>
    <%= listing.perfume_id %>
  </p>

  <p>
    <strong>Seller:</strong>
    <%= listing.seller_id %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= listing.condition %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= listing.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= listing.price %>
  </p>

</div>
