<div id="<%= dom_id purchase %>">
  <p>
    <strong>Listing:</strong>
    <%= purchase.listing_id %>
  </p>

  <p>
    <strong>Buyer:</strong>
    <%= purchase.buyer_id %>
  </p>

  <p>
    <strong>Purchase date:</strong>
    <%= purchase.purchase_date %>
  </p>

  <p>
    <strong>Shipping address:</strong>
    <%= purchase.shipping_address %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= purchase.total_price %>
  </p>

</div>
