<div id="<%= dom_id perfume %>">
  <p>
    <strong>Name:</strong>
    <%= perfume.name %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= perfume.brand %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= perfume.description %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= perfume.size %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= perfume.price %>
  </p>

</div>
