<p style="color: green"><%= notice %></p>

<%= render @perfume %>

<div>
  <%= link_to "Edit this perfume", edit_perfume_path(@perfume) %> |
  <%= link_to "Back to perfumes", perfumes_path %>

  <%= button_to "Destroy this perfume", @perfume, method: :delete %>
</div>
